$font-stack: Helvetica, sans-serif;

*{
    font: 100% $font-stack;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(132, 235, 228);
    margin: 0;
}

body::-webkit-scrollbar {
    width: 14px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: lightgrey;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 4px solid lightgray;  /* creates padding around scroll thumb */
  }

  @mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
// ################################ header & dropdown ################################
header {
    @include flexCenter();
    background-color:white;
    border-bottom: solid;
    border-bottom-color: black;
    justify-content: space-between;
    padding: 2px;

    img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }

    h1 {
        font-size: 30px;
        padding: 0;
        margin: 0;
        text-shadow: 1px 1px;
        color: black;
    }

    #user-hello-dropdown-container{
        @include flexCenter();
        
        #user-hello {
            @include flexCenter();
            padding: 10px;
        }
    }
}
@mixin basicButton {
    @include flexCenter();
    background-color: rgb(132, 235, 228);
    border-radius: 10px;
    border: 1.5px solid black;
    font-size: 18px;

    &:hover {
        background-color: darkcyan;
        color: white
    }
}

.options {
    @include basicButton();
    background-color: white;
    width: 30px;
    height: 30px;
    margin-right: 7px;
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 150px;
    right: 0;
    top: calc(100% + 0.8rem);
    border-radius: .35rem;
    box-shadow: 0 2px 15px 0 rgba(0,0,0, .3);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.dropdown > .options:focus +.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.menu-Links {
    text-decoration: none;
    color: black;
    padding: .75rem;
    cursor: pointer;
    
    &:hover {
        background-color: darkcyan;
        color: white;
        pointer-events: auto;

    }
}

// ################################ modal PopUp HOW TO PLAY ################################
.close-modal {
    display: block;
    margin: auto auto 0;
    @include basicButton();
    background: rgb(239, 108, 108);
}


.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 988;

}
.overlay {
    background: rgba(49,49,49,0.8);
}

.modal-content {
    position: absolute;
    top: 30%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 28px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    z-index: 999;
}


// ################################ tiles ################################

// #tiles refers to the container
#tiles {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    justify-content: center;
    margin: 10px;
}

$default-tile-color: rgb(90, 83, 83);
$bull-color: rgb(4, 188, 102);
$cow-color : rgb(248, 248, 30);

@mixin basicTile {
    gap: 2px;
    margin: 2px;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    background-color: $default-tile-color;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
    text-align: center;
}



.tile {
    @include basicTile();
}

.tile-bull {
    @include basicTile();
    background-color: $bull-color;
    
}

.tile-cow {
    @include basicTile();
    background-color: $cow-color;
}

// ################################ dialog ################################

@mixin basicDialogMessage {
    min-width: 100px;
    height: 30px;
    background-color: $default-tile-color;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    color: white;
}

#dialog {
    @include flexCenter();

    .basic{
        @include flexCenter();
        @include basicDialogMessage();   
    }
    .victory{
        @include flexCenter();
        @include basicDialogMessage();
        background-color: $bull-color;
    }
}

// ################################ keyboard ################################

#keyboard {
    padding: 0;
    margin: 0;
    @include flexCenter();
    flex-direction: column;
    flex-grow: 1;
    min-width: 600px;
}

.keyboard-row {
    margin: 5px;
    gap: 5px;
    

.key {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: rgb(204, 188, 188);
    border-radius: 10px;
    box-shadow: 2px 2px black;

    &:hover {
        background-color: darkcyan;
        color: white;
        cursor: pointer;
        }
    }

@mixin enter-back-theme {
    width: 85px;
    background-color: azure;
    
}
@mixin enter-back-theme-hover {
    cursor: pointer;
    background-color: rgb(221, 118, 118);
}

#enter {
    @include enter-back-theme();
    &:hover {
        @include enter-back-theme-hover()
        }
    }

#back {
    @include enter-back-theme();
    &:hover {
        @include enter-back-theme-hover()
        }
    }
}



// ################################ letters-indicator-map ################################

#keyboard-map-container{
    display: flex;
}

#indicators-container {
    background-color: rgba(90, 83, 83, 0);
    border-radius: 10px;
    width: 170px;
    min-height: 180px;
    box-shadow: 2px 2px 2px rgb(51, 51, 51);
    border: 1px solid rgba(0, 0, 0, 0.147);

    padding-left: 5px;
}

#letters-indicator-map {
    display: block;
    position: relative;
    padding-top: 5px;
    min-width: 150px;

    .indicator {
        height: 40px;
        width: 40px;
        border: 1px solid black;
        background-color: rgb(204, 188, 188);
        border-radius: 10px;
        box-shadow: 2px 2px;
        margin: 5px;
        
    }

    #empty {
        background-color: $default-tile-color;
    }
    #cow {
        background-color: $cow-color;
    }
    #bull {
        background-color: $bull-color;
    }

}

// ################################       filler       ################################
#filler {
    min-width: 170px;
    opacity: 0;
}

// ################################    Sign In Form    ################################

#sign-in-form-container {
    @include flexCenter();
    margin-top: 20px;
    position: relative;
    width: 90%;
    justify-content: space-around;

    

    #text-container{
        position: relative;
        overflow-wrap: break-word;
        z-index: -1;
        left: 0;
    
        h1 {
            font-weight: bolder;
            font-size: xx-large;
            
        }
        
    }

    .form {
        background-color: rgb(90, 83, 83);
        border-radius: 20px;
        box-sizing: border-box;
        height: 500px;
        padding: 20px;
        width: 320px;
      }
      
      .title {
        color: #eee;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
      }
      
      .subtitle {
        color: #eee;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 600;
        margin-top: 10px;
      }
      
      .input-container {
        height: 50px;
        position: relative;
        width: 100%;
      }
      
      .ic1 {
        margin-top: 40px;
      }
      
      .ic2 {
        margin-top: 30px;
      }
      
      .input {
        background-color: white;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: rgb(0, 0, 0);
        font-size: 18px;
        height: 100%;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
      }
      
      .cut {
        background-color: rgb(90, 83, 83);
        border-radius: 10px;
        height: 20px;
        left: 20px;
        position: absolute;
        top: -20px;
        transform: translateY(0);
        transition: transform 200ms;
        width: 76px;
      }
      
      .cut-short {
        width: 50px;
      }
      
      .input:focus ~ .cut,
      .input:not(:placeholder-shown) ~ .cut {
        transform: translateY(8px);
      }
      
      .placeholder {
        color: #161657;
        font-family: sans-serif;
        left: 20px;
        line-height: 14px;
        pointer-events: none;
        position: absolute;
        transform-origin: 0 50%;
        transition: transform 200ms, color 200ms;
        top: 20px;
      }
      
      .input:focus ~ .placeholder,
      .input:not(:placeholder-shown) ~ .placeholder {
        transform: translateY(-30px) translateX(10px) scale(0.75);
      }
      
      .input:not(:placeholder-shown) ~ .placeholder {
        color: #808097;
      }
      
      .input:focus ~ .placeholder {
        color: aqua;
      }
      
      .submit {
        @include basicButton();
        border: 0;
        cursor: pointer;
        font-size: 18px;
        height: 50px;
        margin-top: 38px;
        text-align: center;
        width: 100%;
      }
      
      .submit:active {
        background-color: #06b;
      }
}

// ################################       home page         ################################

#home-container{
  
    @include flexCenter();
    height: 500px;
    width: 100%;

    #welcome-message{
        background-color: $default-tile-color;
        padding: 20px;
        border-radius: 10px;
        color: white;
    }

}